<div>

   <h1>{{name}}</h1>
        <p>{{description}}</p>

    <h2>History</h2>

    {{#with history}}
         
    <ul>
      <li>Year: {{year}}</li>
      <li>Founder:{{founder}}</li>
    </ul>
    {{/with}}
    <hr>
       <h2>Types</h2>
    {{#each types }}
    <li> {{this}}</li>
    {{/each}}
    <hr>
     <h2>Syntax</h2>
      {{#with syntax }}
      <em>
        <h3>variables</h3>
      </em>
          <ul>{{variables}}</ul>
        <em>
        <h3>functions</h3>
        </em>
          <ul>{{functions}}</ul>  
        <em>
        <h3>conditionals</h3>
        </em>
        <ul>{{conditionals}}</ul> 
        <em>
        <h3>loops</h3>
        </em>
        <ul>{{loops}}</ul> 
        <em>
        <h3>classes</h3>
        </em>
        <ul>{{classes}}</ul> 
    {{/with}}
    <hr>
    <h2>features</h2>
  {{#each features   }}
    <li> {{this}}</li>
    {{/each}}
    <hr>
   <h2>libraries</h2>
  {{#each features   }}
    <li> {{this}}</li>
    {{/each}} 
    <hr>
    <h2>tools</h2>
  {{#each tools   }}
    <li> {{this}}</li>
    {{/each}}
    <hr>
     <h2>community</h2>
  {{#each community   }}
     <h4> {{name}}</h4>
    <li> type:{{type}}</li>

    {{/each}}

</div>